.product-detail{
    display: flex;
    background-color: red;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1,2,3;
}
.product-detail div{
 width: 500px;
}